/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define LOWER 1
#define RAISE 2

/ {
    behaviors {
        mod_tap_or_repeat: mod_tap_or_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TAP_OR_REPEAT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
        };

        custom_mod_tap: custom_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_MOD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "dflt";
            bindings = <
&kp EQUAL                           &kp N1            &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8     &kp N9   &kp N0                           &kp MINUS
&kp TAB                             &kp Q             &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I      &kp O    &kp P                            &kp BACKSLASH
&kp ESCAPE                          &kp A             &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K      &kp L    &kp SEMI                         &kp SQT
&kp LSHFT                           &kp Z             &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH                         &kp RSHFT
&none                               &none             &none   &none                                   &none      &none    &none                            &none
&mod_tap_or_repeat LCTRL BACKSPACE  &kp LEFT_COMMAND  &mo 2                                                      &mo 1    &custom_mod_tap RIGHT_ALT ENTER  &kp SPACE
            >;
        };

        num_sym {
            display-name = "nums";
            bindings = <
&none      &none            &none            &none            &none            &none      &none            &none      &none      &none                 &none              &none
&kp EQUAL  &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &mt F4 NUMBER_4  &mt F5 N5  &mt F6 NUMBER_6  &mt F7 N7  &mt F8 N8  &mt F9 N9             &mt F10 N0         &kp MINUS
&none      &kp ESCAPE       &kp TAB          &kp EQUAL        &none            &none      &none            &none      &kp MINUS  &kp NON_US_BACKSLASH  &kp SQT            &none
&trans     &kp GRAVE        &kp DELETE       &none            &none            &none      &none            &none      &none      &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &trans
&none      &none            &none            &none                                                                    &none      &none                 &none              &none
&trans     &trans           &trans                                                                                               &trans                &trans             &trans
            >;
        };

        movement {
            display-name = "mvmt";
            bindings = <
&none   &none            &none               &none            &none            &none                &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &none
&none   &mt F1 NUMBER_1  &mt F2 NUMBER_2     &mt F3 NUMBER_3  &mt F4 NUMBER_4  &mt F5 N5            &none           &kp PAGE_DOWN   &kp PAGE_UP   &kp F11          &kp F12  &none
&none   &kp EQUAL        &mkp RCLK           &mkp MCLK        &mkp LCLK        &kp C_VOICE_COMMAND  &kp LEFT_ARROW  &kp DOWN        &kp UP_ARROW  &kp RIGHT_ARROW  &none    &none
&trans  &kp GRAVE        &kp LC(LEFT_ARROW)  &kp LC(UP)       &kp LC(RIGHT)    &none                &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none    &trans
&none   &none            &none               &trans                                                                                 &trans        &none            &none    &none
&trans  &trans           &trans                                                                                                                   &trans           &trans   &trans
            >;
        };

        settings {
            display-name = "stgs";
            bindings = <
&bootloader     &bt BT_SEL 0       &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4  &none  &none  &none  &none  &none  &bootloader
&sys_reset      &rgb_ug RGB_TOG    &rgb_ug RGB_BRI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &none         &none  &none  &none  &none  &none  &sys_reset
&studio_unlock  &rgb_ug RGB_EFF    &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &none         &none  &none  &none  &none  &none  &none
&bt BT_CLR      &ext_power EP_ON   &none            &none            &none            &none         &none  &none  &none  &none  &none  &none
&none           &ext_power EP_OFF  &none            &none                                                         &none  &none  &none  &none
&none           &none              &none                                                                                 &none  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        settings_on_both_layers {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
